pyqt5~=5.15.10
pypdf2~=3.0.1
python-docx
requests~=2.31.0
matplotlib~=3.8.2
python-docx
numpy~=1.26.3
ffmpeg~=1.4
python-dotenv~=1.0.1
flask_sqlalchemy
flask-login
flask-wtf
email-validator
bcrypt
apscheduler~=3.10.4
pillow~=10.2.0
flask~=3.0.2
werkzeug~=3.0.1
pandas~=2.2.0
mutagen~=1.47.0
pdf2doi~=1.5
wtforms~=3.1.2