pyqt5~=5.15.10
pdf2doi~=1.5
requests~=2.31.0
matplotlib~=3.8.2
numpy
ffmpeg~=1.4
python-dotenv~=1.0.1
flask_sqlalchemy
apscheduler~=3.10.4
pillow~=10.2.0
flask~=3.0.2
werkzeug~=3.0.1
pandas~=2.2.0
mutagen~=1.47.0