{% extends "base.html" %}

{% block title %}File Upload App - 500 Error{% endblock %}

{% block content %}
<div class="container mx-auto max-w-80">
    <h1 class="text-3xl font-semibold py-2">500 Error - Internal Server Error</h1>
    <div class="card w-96 bg-accent shadow-xl">
        <div class="card-body">
            <p class="text-base">Sorry, something went wrong on our end.</p>
            <p class="text-base">Our team has been notified and we are working to fix it.</p>
            <p class="text-base">Please try again later.</p>
        </div>
    </div>
</div>
{% endblock %}
