{% extends "base.html" %}

{% block title %}File Upload App - About{% endblock %}

{% block content %}
<section class="container mx-auto py-1">
    <h1 class="text-3xl font-bold mb-6">About K.L.A.A.S</h1>
    <h2 class="text-xl font-semibold mb-4">Knowledge Lookup and Archive Access Service</h2>

    <p class="mb-6">
        The File System Organiser is an advanced tool designed to streamline and enhance the organization and management of files on your computer. With our internal file system node model, once the file system is scanned it is cached and is loaded with each start up. Our model facilitates the searching of files and access of metadata from files without the need to address the file directly. This comprehensive solution offers a range of functionalities aimed at simplifying the way that users sort, store and share their digital content, making it an indispensable tool for both personal and professional use.
    </p>

    <h3 class="text-2xl font-semibold mb-4">Key Features</h3>
    <ul class="list-disc list-inside ml-6">
        <li>
            <strong>File Sorting by Type:</strong> The organiser automatically categorizes files into distinct folders based on their type, such as music, images, videos and documents.  Beyond basic sorting, the tool offers specialized organization options for various file types.
        </li>
        <li>
            <strong>Optimisation Features:</strong> To maximise storage efficiency, the File System Organiser includes optimization features such as file compression and deduplication. Scheduled optimisations can be configured for convenience.
        </li>
        <li>
            <strong>Cloud Integration and Sharing:</strong> A standout feature is its ability to upload files to our website, while generating shareable links. This function facilitates easy sharing of files with friends or colleagues, enhancing collaboration and accessibility.
         </li>
    </ul>
</section>
{% endblock %}
