{% if is_pyqt %}
    {% extends "base_pyqt.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block title %}File Upload App - Download{% endblock %}

{% block content %}
    <div class="container mx-auto my-8 max-w-80">
        <h1 class="text-3xl font-semibold py-2">Download File</h1>
        <div class="card w-96 bg-accent shadow-xl">
            <div class="card-body">
                <div class="card-title">
                    <h3>Fresh File from {{ upload.upload_user.name }}! </h3>
                </div>
                <p class="text-base font-light"><span class="font-semibold text-lg">Filename:</span>
                    {{ upload.filename }}</p>
                <p class="text-base font-light"><span class="font-semibold text-lg">Message:</span>
                    {{ upload.message }}</p>
                <p class="text-base font-light"><span class="font-semibold text-lg">Sender:</span>
                    {{ upload.upload_user.email }}</p>
                <p class="text-base font-light"><span class="font-semibold text-lg">Link Expires:</span>
                    {{ upload.expires_at.strftime('%A, %d %B %Y %H:%M') }}</p>
<!--                TODO: do we want this password protection functionality to work?      -->
                <form action="{{ url_for('file_routes.download_file_page', unique_id=upload.unique_id) }}" method="post">
                    {% if upload.is_password_protected %}
                        <p class="text-base font-light">This file is password protected. Please enter the password to download.</p>
                        <div class="form-control w-full max-w-xs">
                            {{ form.password.label(class="label label-text") }}
                            {{ form.password(class="input input-bordered rounded-md") }}
                        </div>
                        {{ form.submit(class="mt-4 inline-block bg-primary text-base-100 py-2 px-4 rounded hover:bg-primary-focus") }}
                    {% else %}
                        {{ form.submit(class="mt-4 inline-block bg-primary text-base-100 py-2 px-4 rounded hover:bg-primary-focus") }}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
<!--        <p>Upload user: {{ file.upload_user.name }}</p>-->
<!--        <p>Upload email: {{ file.upload_user.email }}</p>-->