{% extends "base.html" %}

{% block title %}File Upload App - Profile{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-4"><i class="px-3 fa-solid fa-user"></i>{{ current_user.name }}'s Profile</h1>

<p class="text-lg font-light"><i class="px-2 fa-solid fa-envelope"></i><span class="font-semibold">Email:</span> {{ current_user.email }}</p>

<h2 class="text-xl pt-4 font-bold">Uploaded Files</h2>
{% if user_uploads|length != 0 %}
    <div class="mt-6 py-2 rounded border border-r-black bg-gray-100 text-base-content"
        style="
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        ">
       <table class="table table-compact w-full">
           <thead>
               <tr>
                   <th>Upload Name</th>
                   <th>Message</th>
                   <th>Contains</th>
                   <th>Expires At</th>
                   <th>Downloads</th>
<!--                   <th>Unique ID</th>-->
               </tr>
           </thead>
           <tbody class="font-light">
                   {% for upload in current_user.uploads %}
                       <tr>
                            <td>{{ upload.upload_name }}</td>
                            <td>{{ upload.message }}</td>
                            <td>
                               <ul>
                                   {% for file in upload.files %}
                                       <li>{{ file.filename }}</li>
                                   {% endfor %}
                               </ul>
                           </td>
                            <td>{{ upload.expires_at.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ upload.download_count }}</td>
<!--                            <td>{{ upload.unique_id }}</td>-->
                            <td>
                                <a href="{{ url_for('file_routes.direct_download_file', unique_id=upload.unique_id) }}"
                                   class="btn btn-sm bordered">Download</a>
                                <button
                                   class="btn btn-sm bordered"
                                   data-link="{{ url_for('file_routes.direct_download_file', unique_id=file.unique_id, _external=True) }}"
                                   onclick="copyLinkToClipboard(this)"
                                >
                                    Copy <i class="fa-regular fa-copy"></i>
                                </button>
                                <a href="{{ url_for('file_routes.update_file', unique_id=upload.unique_id) }}"
                                   class="btn btn-sm btn-secondary bordered">Update</a>
                                <a href="{{ url_for('file_routes.delete_file', unique_id=upload.unique_id) }}"
                                   class="btn btn-sm btn-error bordered">Delete</a>
                            </td>
                       </tr>
                   {% endfor %}
           </tbody>
       </table>
    </div>
{% else %}
    <p class="text-base font-light py-1">You have not uploaded any files yet.</p>
{% endif %}
<h3 class="font-semibold text-lg py-2"> Upload a new file: </h3>
<div class="btn btn-md">
    <a href="{{ url_for('file_routes.upload') }}" class="text-sm py-1">Upload a file</a>
</div>

{% endblock %}