{% extends "base.html" %}

{% block title %}File Upload App - Profile{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-4">{{ current_user.name }}'s Profile</h1>

<p><span class="font-semibold">Name:</span> {{ current_user.name }}</p>
<p><span class="font-semibold">Email:</span> {{ current_user.email }}</p>

<h2 class="text-xl pt-4 font-bold">Uploaded Files</h2>
{% if user_files|length != 0 %}
    <div class="mt-6 py-2 rounded border border-r-black bg-gray-100 text-base-content"
        style="
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        ">
       <table class="table table-compact w-full">
           <thead>
               <tr>
                   <th>Filename</th>
                   <th>Message</th>
                   <th>Expires At</th>
                   <th>Downloads</th>
               </tr>
           </thead>
           <tbody class="font-light">
                   {% for file in user_files %}
                       <tr>
                            <td>{{ file.filename }}</td>
                            <td>{{ file.message }}</td>
                            <td>{{ file.expires_at.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ file.download_count }}</td>
                            <td>
                                <a href="{{ url_for('file_routes.update_file', file_id=file.id) }}"
                                   class="btn btn-sm btn-secondary bordered">Update</a>
                                <a href="{{ url_for('file_routes.delete_file', file_id=file.id) }}"
                                   class="btn btn-sm btn-error bordered">Delete</a>
                            </td>
                       </tr>
                   {% endfor %}
           </tbody>
       </table>
    </div>
{% else %}
    <p class="text-base font-light py-2">You have not uploaded any files yet.</p>
    <div class="btn btn-sm">
        <a href="{{ url_for('file_routes.upload') }}" class="text-sm py-1">Upload a file</a>
    </div>
{% endif %}

{% endblock %}