{% extends "base.html" %}

{% block title %}File Upload App - Update File{% endblock %}

{% block content %}
<div class="container mx-auto max-w-96">
    <h1 class="text-3xl font-semibold mb-4">Update file:  <span class="font-normal">{{ file.filename }}</span></h1>
    <form action="/update_file/{{ file.unique_id }}" method="post" enctype="multipart/form-data">
        <div class="form-control mb-4">
            <label for="message" class="label label-text text-base font-medium">Edit Message:</label>
            <textarea id="message" name="message" class="textarea textarea-bordered text-sm" rows="2">{{ file.message }}
            </textarea>
        </div>
        <div class="form-control mb-4">
<!--            TODO: Show current expiration time above, time remaining = x etc.  -->
            <label for="expiration_hours" class="label label-text text-base font-medium">Edit Expiration Time:</label>
            <select id="expiration_hours" name="expiration_hours" class="select select-bordered text-sm">
              <option value="24" selected>24 Hours</option>
              <option value="72">3 Days</option>
              <option value="168">7 Days</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary rounded-md">Update</button>
    </form>
</div>


{% endblock %}
