{% extends "base.html" %}

{% block title %}Upload Success{% endblock %}

{% block content %}
    <div class="container">
        <h1>Upload Successful</h1>
        <div>
            <p>Share this link with anyone to allow them to download your file:</p>
            <input type="text" value="{{ link }}" id="fileURL" readonly>
            <button onclick="copyURL()">Copy URL</button>
        </div>

        <div class="file-info">
            <h2>{{ file_info.filename }}</h2>
            <p><strong>Expiration date:</strong> {{ file_info.expires_at.strftime('%A, %d %B %Y %H:%M') }}</p>
            <p><strong>Message:</strong> {{ file_info.message }}</p>
            <p><strong>Total downloads:</strong>{{ file_info.download_count }}</p>
        </div>
    </div>

 <script>
function copyURL() {
    var copyText = document.getElementById("fileURL");
    // Focus before selecting
    copyText.focus();
    copyText.select(); // Select the text field
    // For mobile devices, ensure a proper selection
    copyText.setSelectionRange(0, copyText.value.length);

    // Use the Clipboard API to copy the text
    navigator.clipboard.writeText(copyText.value)
        .then(() => {
            alert("Copied the URL: " + copyText.value); // Alert the copied text
        })
        .catch((err) => {
            // Possible fallback for older browsers
            if (document.queryCommandSupported && document.queryCommandSupported('copy')) {
                document.execCommand('copy'); // Attempt to use execCommand('copy')
                alert("Copied the URL: " + copyText.value); // Alert if execCommand('copy') works
            } else {
                console.error('Error copying text to clipboard: ', err);
                // Alert the user that the copy didn't work and provide manual instructions
                alert('Copy not supported or blocked. Please copy the URL manually.');
            }
        });
}
</script>

{% endblock %}