{% extends "base.html" %}

{% block title %}Upload Success{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-3xl font-semibold">Upload Successful!</h1>
        <div class="card w-96 bg-accent shadow-xl mx-auto my-8">
            <div class="card-body">
                <p class="text-base">Share this link with anyone to allow them to download your file:</p>
                <label for="fileURL" class="font-semibold text-base">Download Link</label>
                <input type="text" value="{{ link }}" id="fileURL" class="size-full rounded p-1 text-sm" readonly>
                <div class="card-actions">
                    <button onclick="copyURL()" class="btn btn-sm text-neutral">Copy URL</button>
                </div>
                <p class="text-base font-light"><span class="font-semibold text-lg">Filename:</span>
                    {{ file_info.filename }}</p>
                <p class="text-base font-light"><span class="font-semibold text-lg">Sender Email:</span>
                    {{ file_info.upload_user.email }}</p>
                <p class="text-base"><span class="font-semibold text-lg">Expiration date:</span>
                    {{ file_info.expires_at.strftime('%A, %d %B %Y %H:%M') }}</p>
                <p class="text-base"><span class="font-semibold text-lg">Message:</span> {{ file_info.message }}</p>
                {% if file_info.download_count %}
                    <p class="text-base"><span class="font-semibold text-lg">Number of downloads:</span>
                        {{ file_info.download_count }}</p>
                {% endif %}
            </div>
        </div>
    </div>

 <script>

<!--     TODO: Fix deprecated function -->
function copyURL() {
    var copyText = document.getElementById("fileURL");
    // Focus before selecting
    copyText.focus();
    copyText.select(); // Select the text field
    // For mobile devices, ensure a proper selection
    copyText.setSelectionRange(0, copyText.value.length);

    // Use the Clipboard API to copy the text
    navigator.clipboard.writeText(copyText.value)
        .then(() => {
            alert("Copied the URL: " + copyText.value); // Alert the copied text
        })
        .catch((err) => {
            // Possible fallback for older browsers
            if (document.queryCommandSupported && document.queryCommandSupported('copy')) {
                document.execCommand('copy'); // Attempt to use execCommand('copy')
                alert("Copied the URL: " + copyText.value); // Alert if execCommand('copy') works
            } else {
                console.error('Error copying text to clipboard: ', err);
                // Alert the user that the copy didn't work and provide manual instructions
                alert('Copy not supported or blocked. Please copy the URL manually.');
            }
        });
}
</script>

{% endblock %}